---

import ComponentRangos from "./vcs/ComponentRangos.astro";
import ComponentPesos from "./vcs/ComponentPesos.astro";
import ComponentSegmentos from "./vcs/ComponentSegmentos.astro";
import ComponentRecalcular from "./vcs/ComponentRecalcular.astro";
import ComponentPeriodo from "./vcs/ComponentPeriodo.astro";
import ButtonEtiquetarCrm from "./vcs/ButtonEtiquetarCrm.astro";
import CategoriasCognitivas from "./vcs/CategoriasCognitivas.astro";


---



  <main class="relative bg-white grow">
    <div class="container mx-auto px-6 py-12">

      <section class="mb-8">
        <h2 class="text-3xl font-semibold text-gray-700">
          Funcionalidades Neuronas de Negocio
        </h2>
      </section>
      <ComponentPeriodo/>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-0 mb-12 border-t border-b border-gray-300 py-8">
        <section
          aria-labelledby="matriz-scoring-title"
          class="space-y-10 max-w-5xl mx-auto lg:col-span-5"
        >

          <div>


            <div class="border-t border-gray-400 mb-2"></div>

            <h3
              id="matriz-scoring-title"
              class="text-2xl md:text-3xl font-bold text-[#0f4c65] text-center tracking-wide mb-4 drop-shadow-sm"
            >
              Matriz de Scoring
            </h3>

            <ComponentPesos />

            <ComponentRangos/>


            </div>
          </div>

        <div>
    <div class="border-t border-gray-400 mb-2"></div>
     <h3
              id="matriz-scoring-title"
              class="text-2xl md:text-3xl font-bold text-[#0f4c65] text-center tracking-wide mb-4 drop-shadow-sm"
            >
              Matriz de Segmentos
            </h3>

<ComponentSegmentos/>
<CategoriasCognitivas/>
<ComponentRecalcular/>
<ButtonEtiquetarCrm/>


  </main>


